.carousel-item {
  position: relative; /* Ensure relative positioning for absolute text */
}

.carousel-item img {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
  max-height: 900px; /* Adjust maximum height as needed */
  object-fit: cover; /* Ensure the image covers the entire container */
}

.carousel-item h5,
.carousel-item p {
  position: absolute;
  bottom: 20px; /* Adjust position of text from bottom */
  left: 50%;
  transform: translateX(-50%);
  color: #fff; /* Text color */
  text-align: center;
  padding: 10px 20px; /* Padding around text */
  width: 80%; /* Adjust width as needed */
}

.carousel-item h5 {
  font-size: 2.5rem; /* Adjust font size for heading */
  font-family: 'Courier New', Courier, monospace; /* Font family for heading */
}

.carousel-item p {
  font-size: 1rem; /* Adjust font size for paragraph */
}

.carousel-caption-custom {
  position: absolute;
  top: 5%; /* Adjust top position of custom caption */
  left: 50%;  
  /* transform: translateX(-50%); */
  z-index: 2;
}

.carousel-heading {
  position: absolute;
  bottom: 10%; /* Adjust bottom position of heading */
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Optional: text shadow */
}

/* Media query for smaller screens */
@media (max-width: 576px) {
  .carousel-item img {
    width: 100%; /* Ensure image width spans the entire container */
    height: auto; /* Maintain aspect ratio */
    max-height: 500px; /* Adjust maximum height for smaller screens */
    object-fit: cover; /* Ensure the image covers the entire container */
  }

  .carousel-item h5 {
    font-size: 1.8rem; /* Adjust font size for heading on smaller screens */
  }

  .carousel-item p {
    font-size: 0.9rem; /* Adjust font size for paragraph on smaller screens */
  }
}

